* {
    font-family: 'Roboto', sans-serif;
}


:root {
    --isabelline: #ededed;
    --isabellineo-pacity: rgba(237, 237, 237, 0.2);
    --ashgrey: #B7B7B7;
    --ashgreyo-pacity: rgba(183, 183, 183, 0.83);
    --outer-space: #464C53;
    --onyx: #313840;
    --rich-black-opacity: rgba(29, 37, 45, 0.7);
    --rich-black:#1D252D;
    --sandy-taure: #A16D1F;
}