@import url(./../../project/style.css);


:root {
    --i-text-color: var(--sandy-taure);
    --i-hover-text-color: var(--isabelline);
    --logo__rights-text-color: var(--sandy-taure);
    --footer-bg-color: var(--rich-black);
    --footer-border-color: var(--sandy-taure);

}

.footer {
    display: flex;
    justify-content: space-around;
    bottom: 0;
    background: var(--footer-bg-color);
    font-size: 1rem;
    padding: 1.5em;
    width: 100%;
    border-top: 1px solid var(--footer-border-color);
}


.logo__rights {
    text-transform: initial;
    padding-bottom: 0;
    color: var(--logo__rights-text-color);
    font-size: 0.8em;
}


.button__footer {
    font-size: 0.8em;
}



.footer .logo {
    font-size: 0.9em;

}

.navigation__footer {
    font-size: 0.8em;
}

.logo__social-link {
    display: inline-block;
    text-decoration: none;

}

.logo__social-link i {
    font-size: 1.5em;
    color: var(--i-text-color);

}

.logo__social-link:hover i {
    font-size: 1.5em;
    color: var(--i-hover-text-color);
}
