@import url(./../../project/style.css);

:root {
    --button-text-color: var(--isabelline);
}


.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 0.9em;
    border-width: 0;
    outline: none;
    line-height: 2.5em;
    border-radius: 1.25em;
    font-size: 0.9em;
    text-decoration: none;
    color: var(--button-text-color);
    background: linear-gradient(45deg, #d1af42 0%, #a17d24 50%, #A16D1F 100%);
    box-shadow: 0 1em 2em 0 rgba(49, 56, 64, 0.35);
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover,
.button:active {
    box-shadow: none;
    background: linear-gradient(45deg, #A16D1F  0%, #a17d24 50%, #d1af42 100%);
}