@import url("https://fontlibrary.org/face/bebas" );
nav {
    width: 1032px;
    height: 72px;
}

ul {
    width: 970px;
    height: 40px;
    background: #A64DFF;
    padding-left: 60px;
}

.menu li {
    list-style-type: none;
    display: inline;
}

.menu a {
    text-decoration: none;
    padding:15px;
    line-height: 42px;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    color: white;
    font-size: 21px;
}

li.last a {
    background: #EEEEEE;
    padding: 10px 17px;
    color: #BBBAA6;
}

li.more a {
    padding-left: 283px;
}
