ul {
    list-style-type: none;
    padding: 0px;
    background: #FAFAF8;
    width: 445px;
    height: 40px;
}

.menu li {
    list-style-type: none;
    display: inline;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px solid #DDDDDD;
    padding: 1px 8px;
    margin: 8px 0px;
    border-radius: 5px;
    color: #A23BD2;
}

.one a:before {
    content: "\00AB";
    vertical-align: 1px;
    padding-right: 2px;
}

.two a:before {
    content: "\00AB";
    vertical-align: 1px;
    padding-right: 2px;
}

.eleven a:after {
    content: "\00BB";
    vertical-align: 1px;
    padding-left: 2px;
}

.twelve a:after {
    content: "\00BB";
    vertical-align: 1px;
    padding-left: 2px;
}

li.one a, li.two a, li.eleven a, li.twelve a, li.points a {
    border: none;
}

li.points a {
    vertical-align: sub;
}

li.six a {
    background: #A23BD2;
    color: white;
}
