table {
    width:1843px;
    height: 326px;
    border-collapse: collapse;
    border: 3px solid white;
    border-bottom: 1px solid #D0D0D0;
    text-align: center;
}

td {
    text-align: center;
    font-size: 32px;
    border: 2px solid #D0D0D0;
    border-left: none;
    border-right: none;
}

tr:nth-child(2n) {
    background: #DDEBF8;
}

td:nth-child(2n+1) {
    background: #F2F2DD;
}

td:nth-child(1){
    background: white;
}

td.blue {
    background: #DDEBF8;
}