div {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

input[type="checkbox"]{
    display: none;
}

label {
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
}

label[for="red"] {
    color: red;
    text-decoration: underline;
}

label[for="green"] {
    color: green;
    text-decoration: underline;
}

label[for="blue"] {
    color: blue;
    text-decoration: underline;
}

span {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 10px;
    color: white;
}

span.red {
    background: red;
}

span.green {
    background: green;
}

span.blue {
    background: blue;
}

input[type="checkbox"]:first-child:checked ~ label[for="red"] ~ span.red,
input[type="checkbox"]:nth-child(2):disabled ~ label[for="green"],
input[type="checkbox"]:nth-child(3):disabled ~ label[for="blue"] {
    display: none;
}

input[type="checkbox"]:nth-child(2):checked ~ label[for="green"] ~ span.green,
input[type="checkbox"]:first-child:disabled ~ label[for="green"],
input[type="checkbox"]:nth-child(3):disabled ~ label[for="blue"] {
    display: none;
}

input[type="checkbox"]:nth-child(3):checked ~ label[for="blue"] ~ span.blue,
input[type="checkbox"]:first-child:disabled ~ label[for="red"],
input[type="checkbox"]:nth-child(2):disabled ~ label[for="green"] {
    display: none;
}

input[type="checkbox"]:first-child:checked ~ label[for="red"],
input[type="checkbox"]:nth-child(2):disabled ~ label[for="green"],
input[type="checkbox"]:nth-child(3):disabled ~ label[for="blue"] {
    opacity: 0.2;
}

input[type="checkbox"]:nth-child(2):checked ~ label[for="green"],
input[type="checkbox"]:first-child:disabled ~ label[for="green"],
input[type="checkbox"]:nth-child(3):disabled ~ label[for="blue"] {
    opacity: 0.2;
}

input[type="checkbox"]:nth-child(3):checked ~ label[for="blue"],
input[type="checkbox"]:first-child:disabled ~ label[for="red"],
input[type="checkbox"]:nth-child(2):disabled ~ label[for="green"] {
    opacity: 0.2;
}

