@import url(./../../project/style.css);

:root {
    --advantage-header-text-color: var(--isabelline);
    --advantage-item-text-color: var(--isabelline);


}

.advantage-item__content {
    box-sizing: border-box;
    font-size: 1rem;
}

.advantage-item__icon {
    display: block;
    margin: 0 auto;
    width: 8em;
}

.advantage-item__header {
    box-sizing: border-box;
    color: var(--advantage-header-text-color);
    text-align: center;
    font-size: 1em;
    line-height: 1.7;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.advantage-item__description {
    padding: 1em;
    color: var(--advantage-item-text-color);
    font-weight: 400;
    line-height: 1.7;
    font-size: 0.9em;
    text-align: center;
}