.wrapper {
    font-family: "Open Sans", sans-serif;
    width: 1300px;
    margin: 0 auto;
}

.header {
    position: relative;
    width: 75%;
    min-height: 60px;
    margin: auto;
}

.logo {
    position: absolute;
    left: 0;
}

.menu {
    position: absolute;
    top:0;
    right: 0;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    float: left;
    margin: 0 10px;
    text-transform: uppercase;
}

.menu li a {
    text-decoration: none;
    color: #713CA1;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 23px;
}

.menu li a:hover {
    color:  #713CA1;
    border-bottom: 4px solid #326694;
}

.menu li a:focus, .menu li a:active {
    font-size: 14px;
    color: red;
    border-bottom: 4px solid #326694;
}


.container {
    position: relative;
    height: 585px;
    background: url("images/title-back.jpg");
    color: white;
    text-align: center;
}

.content  span{
    text-transform: uppercase;
    font-size: 36px;
}

.content .title {
    font-size: 26px;
}

.content p.text {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-style: italic;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    margin: auto;
}

.button {
    margin-top: 40px;
}

.button  a {
    display: block;
    width: 120px;
    margin: auto;
    border: 1px solid #8D9EAA;
    padding: 10px 30px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
