@import url('https://fonts.googleapis.com/css?family=Sarabun');

.container {
    height: 465px;
    width: 298px;
    position: relative;
    box-sizing: border-box;
    background: #EE8129;
    font-family: 'Sarabun', sans-serif;
    text-transform: uppercase;
    color: white;
    box-shadow: 0 0 5px 3px #CBE2EF;
    border-radius: 5px;
    text-align: center;
}

h2 {
    position: absolute;
    left: 85px;
}

.graphic {
    height: 385px;
    width: 289px;
    position: absolute;
    background: white;
    left: 4px;
    bottom: 4px;
}

.graphic p {
    color: #35495A;
}

.graphic p {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 13px;
}

.graphic span {
    position: absolute;
    font-size: 72px;
    font-weight: bold;
    left: 90px;
}

.graphic span:before {
    content: "$";
    vertical-align: super;
    position: absolute;
    font-size: 18px;
    padding-right: 5px;
    left:-15px;
    top: 20px;
}

.graphic span:after {
    content: "Monthly";
    position: absolute;
    vertical-align: sub;
    font-size: 18px;
    text-transform: initial;
    bottom: 5px;
    left: 80px;
}

.graphic ul {
    position: absolute;
    list-style-type: none;
    padding-left: 15px;
    bottom: 70px;
}

.graphic ul.list li {
    text-align: left;
    padding: 6px 50px 6px 15px;
    margin-top: 1px;
    background: #EDF5FD;
    color: #A3A7AF;
}

.list li:nth-child(3), .list li:last-of-type {
    text-transform: initial;
}

.graphic .list li:nth-child(2),
.graphic .list li:last-of-type {
    background: #F5F5F6;
}

.list li:before {
    content: url("images/arrow.png");
    padding-left: 20px;
    padding-right: 10px;
}

.graphic a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: #EE8129;
    border-radius: 5px;
    box-shadow: 0 3px #B3560B;
    text-transform: uppercase;
    bottom: 30px;
    padding: 10px 78px;
    right: 19px;
}
