h1 {
    color: orange;
    text-align: right;
}
p span {
    color: red;
    font-size: 30px;
}
p  i {
    color: white;
    background-color: green;
}
h2 {
    color: orange;
}
h2 > span {
    color: blue;
}
ul > li {
    font-weight: bold;
}
ol > li {
    font-weight: normal;
}
.grey {
    color: lightgray;
}
.red {
    color: red;
}
.green {
    color: green;
}
table {
    width: 500px;
    height: 150px;
    border: 1px solid black;
}
td, th{
    border: 1px solid black;
}
td ~ td {
    background: green;
    text-align: center;
    color: white;
}
td > span {
    color: orange;
}