@import url(./../../progect/style.css);

:root {
    --header-bg-color: var(--rich-black-opacity);
    --logo-text-color: var(--isabelline);
    --navigation-menu-link-text-color: var(--isabelline);
    --navigation-menu-submenu-link-text-color: var(--rich-black);
}

body {
    margin: 0;
    font-size: 1rem;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    line-height: 5em;
    background: var(--header-bg-color);
}

.logo {
    padding: 0 0.5em;
    color: var(--logo-text-color);
    font-size: 1em;
    text-transform: uppercase;
}

.navigation__menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}


.navigation__menu__link {
    display: inline-block;
    margin: 0 0.4em;
    padding: 0 0.4em;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--navigation-menu-link-text-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.dropdown {
    position: relative;
}

.navigation__menu__submenu {
    position: absolute;
    left: -0.75em;
    top: 5em;
    width: 6.25em;
    padding: 0.93em 0 0.93em;
    line-height: 2.5em;
    list-style: none;
    text-align: center;
    box-shadow: 0 0 1.875em rgba(29, 37, 45, 0.2);
    visibility: hidden;
}

.dropdown:hover > .navigation__menu__submenu {
    visibility: visible;
}

.navigation__menu__submenu__link {
    display: inline-block;
    text-decoration: none;
    color: var(--navigation-menu-submenu-link-text-color);
}



