.container {
    font-family: Arial, sans-serif;
    background: black;
}

.header {
    text-align: center;
    text-transform: uppercase;
    color: #2E6FA8;
    font-size: 38px;
    padding: 20px;
    font-weight: lighter;
}

.topic span {
    color: #EE8126;
}

.reviews-container {
    width: 80%;
    margin: auto;
    padding-bottom: 70px;
}

.col-1, .col-2 {
    float: left;
    width: 50%;
}

.review-bad {
    position: relative;
    box-sizing: border-box;
    width: 70%;
    background: white;
    font-size: 13px;
    padding: 2px 15px;
    float: right;
    margin-right: 35px;
    line-height: 1.5;
}

.review-well {
    position: relative;
    box-sizing: border-box;
    width: 70%;
    background: white;
    font-size: 13px;
    padding: 2px 15px;
    float: right;
    line-height: 1.5;
}

.col-2 img {
    padding-left: 35px;
}

.line {
    border-bottom: 2px dotted #9A9DB4;
    border-top: none;
}

.name {
    font-style: italic;
    color: #77B8E3;
    font-weight: bold;
    margin-bottom: 5px;
}

.name span {
    float: right;
}

.review {
    color: #9A9DB4;
    margin-top: 5px;
}

p.name {
    overflow: hidden;
}

.review-bad:before, .review-well:before {
    content: "";
    border-right: 20px solid white;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-left:20px solid transparent;
    position: absolute;
    left: -35px;
    top: 25px;
}

.clear {
    clear: both;
}

