/*sizes 296x468
orange colors ee8129
dark orange shadow b3560b
lightblue edf5fd
lightgray f5f5f6
25 font color 35495a
iconic font color 3f4042
list font color 888c94*/
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 1.7em;
    word-spacing: 5px;
}
/*Common styles for pricing block*/
.pricing-block {
    position: relative;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 6px 3px #ddd;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
    z-index: 3;
}

.title {
    font-size: 23px;
    font-weight:600;
    padding: 20px 0;
    margin: 0;
}

.content {
    font-size: 23px;
    font-weight: 600;
    color: #3f4042;
    padding: 18px 0 5px;
    margin: 0;
}

.value {
    font-size: 65px;
    font-weight: 800;
    line-height: 65px;
    color: #35495a;
    text-transform: none;
    margin: 0 auto;
    width: 100%;
}

.value sup {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: -10px;
    left: -3px;
}

.value sub {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: -5px;
}

.features {
    list-style-type: none;
    color: #888c94;
    margin: 0 auto 17px;
    padding: 0;
    width: 90%;
    font-size: 15px;
    text-align: left;
    text-transform: none;
}

.features > li {
    background: url("image/arrow.png") no-repeat;
    background-position: 32px 11px;
    padding: 7px 8px 8px 62px;
    border-bottom: 1px solid white;
}

.features > li:nth-child(odd) {
    background-color: #edf5fd;
}

.features > li:nth-child(even) {
    background-color: #f5f5f6;
}

.cta-btn {
    padding: 10px 0;
    margin: 3px auto 30px;
    width: 85%;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
}

/*Specific styles for BEST VALUE block*/
.best-value {
    margin: 50px auto;
    width: 290px;
    border: 4px solid #ee8129;
}

.best-value .title {
    color: white;
    background: #ee8129;
}

.best-value .cta-btn {
    color: white;
    background: #ee8129;
    box-shadow: #b3560b 0 3px 0 0;
}

.standard .title {
    color: white;
    background: #2BC2D5;
    border-radius: 5px 5px 1px 1px;
}

.standard, .ultimate {
    position: absolute;
    margin: 50px auto;
    width: 290px;
    border: 1px solid #EDEFF0;
    box-shadow: none;
}

.ultimate .title {
    color: white;
    background: #00B89A;
    border-radius: 5px 5px 1px 1px;
}

.standard .cta-btn, .ultimate .cta-btn {
    color: white;
    background: #2F70A8;
    box-shadow: #6A88A2 0 3px 0 0;
}

.standard {
    top: 62px;
    left:250px;
    z-index: 1;
}

.ultimate {
    top: 62px;
    right: 250px;
    z-index: 2;
}
