@import url(./../../project/style.css);

:root {
    --advantage-header-text-color: var(--isabelline);
    --advantage-bg-color: var(--onyx);

}

.advantage {
    background: var(--advantage-bg-color);
    font-size: 1rem;
    padding: 2em 3em 4em;
}

.advantage__header {
    position: relative;
    margin-bottom: 2em;
    font-size: 2em;
    line-height: 3;
    text-align: center;
    color: var(--advantage-header-text-color);
    text-transform: uppercase;
}

.advantage__header:after {
    position: absolute;
    content: "";
    border-bottom: 5px solid var(--advantage-header-text-color);
    width: 3em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.advantage-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}